@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --spacing: 50px;
}


* {
	margin: 0;
}

.card-container {
	display: grid;
	row-gap: var(--spacing);
	font-family: 'Bebas Neue', sans-serif;
	margin: var(--spacing);
}

.card {
	padding: var(--spacing);
	color: #333;
	background-color: lightblue;
	border-radius: 10px;
  animation-name: fadeIn;
  animation-duration: 4s;}

.dark {
	background-color: #333;
	color: #f5f5f5;
}

/* The animation code */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}