@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --spacing: 50px;
}


* {
	margin: 0;
}

.card-container {
	display: grid;
	row-gap: var(--spacing);
	font-family: 'Bebas Neue', sans-serif;
	margin: var(--spacing);
}

.card {
	padding: var(--spacing);
	color: #333;
	background-color: lightblue;
	border-radius: 10px;
	opacity: 0;
}

.dark {
		background-color: #333;
		color: #f5f5f5;
	}
	
.animate {
		animation-name: fadeIn;
		animation-duration: 4s;
		animation-fill-mode: forwards;
}

.second {
	animation-name: fadeIn;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

/* The animation code */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes delay {
  from {opacity: 0;}
  to {opacity: 1;}
}