@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --spacing: 30px;
}


* {
	margin: 0;
}

.card-container {
	display: grid;
	row-gap: var(--spacing);
	font-family: 'Bebas Neue', sans-serif;
	margin: var(--spacing);
}

.card {
	padding: var(--spacing);
	color: #333;
	background-color: lightblue;
	border-radius: 10px;
}

.dark {
	background-color: #333;
	color: #f5f5f5;
}